/*
 * Copyright 2010, 2011 Vern Sun <s5unty@gmail.com>
 * Based in part upon:
 *  Screen CSS for 0x90.dk
 *  Copyright 2009 Alexander Færøy <ahf@exherbo.org>
 *  Copyright 2009, 2010 Ali Polatel <alip@exherbo.org>
 *
 */

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "verdana", sans-serif;
  font-size: 9pt;
  color: #333333;
  background: #e0e0e0;
}

a,
a:visited,
a:link,
a:active {
  color: #3d3d3d;
  text-decoration: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dotted #000000;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dotted #000000;
  background-color: #7a7a7a;
}

blockquote span {
   display: block;
}

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 18px;
  padding-left: 10px;
  border-left: 4px solid #cccccc;
}

img {
  border: 1px solid #aaa;
  background: #fff;
  padding: 4px;
}

pre {
  font-family: sans-serif;
  background-color: #cccccc;
  padding: 5px;
  padding-left: 2em;
  min-height: 1em;
  max-height: 40em;
  overflow: auto;
}

pre code {
  font-size: 14px;
  font-family: monospace;
  white-space: pre;
}

th { text-align:left; }

tt {
  color: #022355;
  white-space: nowrap;
}

div#header {
  background: url("/images/header.png") repeat-x;
  border-bottom: 2px solid #000;
}

div#header a {
  color: #e0e0e0;
  font-weight: bold;
  border-bottom: none;
  text-decoration: none;
}

div#header a:hover {
  color: #ffffff;
  border-bottom: none;
  text-decoration: none;
}

div#header h1 {
  height: 50px;
  font-size: 38px;
  color: #ffffff;
  letter-spacing: -1px;
  margin: 0px;
  padding-left: 40px;
  padding-top: 10px;
}

div#header ul {
  height: 25px;
  background: #888888;
  color: #ffffff;
  border-bottom: 2px solid #000;
  list-style-type: none;
  margin: 0px;
  padding-left: 35px;
  padding-top: 5px;
}

div#header li {
  display: inline;
  list-style-type: none;
  margin: 0px;
  padding-left: 5px;
}

div#header li a {
  color: #ffffff;
  font-size: 15px;
  font-family: "arial", "tahoma", "verdana";
  font-weight: bold;
  border-bottom: none;
  text-decoration: none;
}

div#header li a:hover {
  text-decoration: underline;
}

div#footer {
  margin-top: 30px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  border-top: 2px solid #000;
  background-color: #666666;
  padding-bottom: 5px;
  clear: both;
  float: left;
  width: 100%;
}

div#footer a {
  color: #ffffff;
  border: 0;
  font-family: "arial", "tahoma", "verdana";
  font-weight: bold;
  text-decoration: none;
}

div#footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

div#footer img {
  border: none;
  background: none;
  padding: 0px;
}

div#content {
  float: left;
  width: 65%;
  margin: 20px;
  padding: 5px 5px 10px 10px;
  text-align: left;
}

div#content h1,
div#content h2,
div#content h1 a,
div#content h2 a {
  font-weight: bold;
  border-bottom: none;
}

div#diigo_linkroll a {
  border-bottom: none;
}

div#menu {
  margin-top: 40px;
  padding: 0 10px 10px 0;
  float: left;
  width: 18%;
  text-align: left;
}

div#menu ul {
  margin-left: 0px;
  padding-left: 25px;
}

div#menu h3 {
  font-variant: small-caps;
  margin: 0;
}

div#menu p {
  padding: 0 0 8px 8px;
  line-height: 1.5;
  text-align: justify;
}

div#left-column {
  width: 38%;
  float: left;
  padding-right: 10px;
}

div#left-column p {
  padding-top: 5px;
  padding-left: 10px;
  font-size: 14px;
}

div#left-column #tweets_time,
div#left-column #tweets_time a {
  color: #a0a0a0;
  border-bottom: none;
}

div#right-column {
  width: 57%;
  float: right;
  padding-left: 10px;
}

ul.post {
  padding-left: 5px;
  list-style-type: none;
  margin-bottom: 2em;
}

ul.post li {
  line-height: 1.75em;
  font-family: monospace;
  font-size: 130%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;          /* for IE */
  -o-text-overflow: ellipsis;      /* for Opera */
  -icab-text-overflow: ellipsis;   /* for iCab */
  -khtml-text-overflow: ellipsis;  /* for Konqueror Safari */
  -moz-text-overflow: ellipsis;    /* for Firefox,mozilla */
  -webkit-text-overflow: ellipsis; /* for Safari,Swift*/
  width:90%
}

ul.post span {
  color: #a0a0a0;
}

ul.post a {
  border-bottom: none;
  text-decoration: none;
}

div.post {
  padding-right: 20px;
  padding-left: 10px;
}

div.post_info {
  font-family: "verdana", sans-serif;
  font-size: 9pt;
  color: #a0a0a0;
  padding-top: 1em;
  float: right;
}

div.post_title a,
div.post_title a:visited,
div.post_title a:link,
div.post_title a:active,
div.post_title a:hover {
  text-decoration: none;
  border-bottom: none;
}

div#gallery img {
  border: none;
}

div#gallery ul {
  margin: 0;
  padding: 0 0 10px 0;
  text-align: justify;
}

div#gallery ul li {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 0.9;
  background: none;
}

div#cloud ul {
  margin: 0;
  padding: 0 0 10px 0;
  text-align: justify;
}

div#cloud ul li {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 1.25em;
  background: none;
}

div#cloud ul li a { border-bottom: none; }

div#cloud ul .cloud-rank-1 { font-weight: bold; font-size: 2.4em; }
div#cloud ul .cloud-rank-2 { font-weight: bold; font-size: 2.2em; }
div#cloud ul .cloud-rank-3 { font-weight: bold; font-size: 2.0em; }
div#cloud ul .cloud-rank-4 { font-size: 1.8em; }
div#cloud ul .cloud-rank-5 { font-size: 1.6em; }
div#cloud ul .cloud-rank-6 { font-size: 1.4em; }
div#cloud ul .cloud-rank-7 { font-size: 1.2em; }
div#cloud ul .cloud-rank-8 { font-style: italic; font-size: 1.0em; }
div#cloud ul .cloud-rank-9 { font-style: italic; font-size: 0.9em; }
div#cloud ul .cloud-rank-10 { font-style: italic; font-size: 0.8em; }

div .gist .gist-file .gist-data pre {
  max-height: none !important;
}

/* vim: set et ts=2 sts=2 sw=2 : */
