[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
[submodule "themes/kiera"]
    path = themes/kiera
    url = https://github.com/funkydan2/hugo-kiera.git

