<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{page.title}} ~ {{ site.title }}</title>
  <meta name="author" content="Vern Sun" />
  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" charset="utf-8" />
  <!-- Syntax CSS -->
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" media="screen" charset="utf-8" />
  <!-- Favourite icon -->
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <!-- JQuery -->
  <script src="/js/jquery.js" type="text/javascript"></script>
  <!-- Discus -->
  <script type="text/javascript">
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://s5unty.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <!-- Google Webmaster -->
  <meta name="google-site-verification" content="ijaSPs7605np63v7hDtUqbriG6l7_KeKWVIRrAxeZng" />
</head>
<body>
  <div id="header">
    <h1><a href="/">{{ site.title }}</a></h1>
  </div>
  <div id="content">
    {{ content }}
  </div>
  <div id="menu">
    {% include menu.html %}
    {% include planet.html %}
  </div>
  {% include footer.html %}
</body>
</html>

<!-- vim: set et tw=100 ts=2 sts=2 sw=2 : -->
