<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{page.title}} ~ {{ site.title }}</title>
  <meta name="author" content="Vern Sun" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" charset="utf-8" />
  <!-- Syntax CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" charset="utf-8" />
  <!-- Github CSS -->
  <link rel="stylesheet" href="/css/github.css" type="text/css" media="screen" charset="utf-8" />
  <!-- LightBox CSS -->
  <link rel="stylesheet" href="/css/jquery.lightbox-0.5.css" type="text/css" media="screen" charset="utf-8" />
  <!-- Tweet CSS -->
  <link rel="stylesheet" href="/css/tweet.css" type="text/css" media="screen" charset="utf-8" />
  <!-- Highlighting CSS -->
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" media="screen" charset="utf-8" />
  <!-- Favourite icon -->
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <!-- JQuery -->
  <script src="/js/jquery.js" type="text/javascript"></script>
  <!-- jQuery Discus -->
  <!-- http://viatropos.com/blog/jquery-disqus-plugin/ -->
  <script src="/js/prettify-min.js" type="text/javascript"></script>
  <script src="/js/showdown-min.js" type="text/javascript"></script>
  <script src="/js/disqus.js" type="text/javascript"></script>
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function($) {
      $('#disqus_thread').disqus({
        domain: 's5unty',
        prettify: true,
        markdown: true
      });
    });
  </script>
  <!-- JQuery Github -->
  <script src="/js/github.js" type="text/javascript"></script>
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function($) {
      $('#changelog').github({
        api: 'commits',
        user: 's5unty',
        repo: 'du1abadd.org'
      });
    });
  </script>
  <!-- JQuery LightBox -->
  <script src="/js/lightbox.js" type="text/javascript"></script>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      $('#gallery a').lightBox({
        fixedNavigation:true,
        imageLoading: "/images/lightbox/lightbox-ico-loading.gif",
        imageBtnClose: "/images/lightbox/lightbox-btn-close.gif",
        imageBtnPrev: "/images/lightbox/lightbox-btn-prev.gif",
        imageBtnNext: "/images/lightbox/lightbox-btn-next.gif",
        imageBlank: "/images/lightbox/lightbox-blank.gif"
      });
    });
  </script>
</head>
<body>
  <div id="header">
    <h1><a href="/">{{ site.title }}</a></h1>
  </div>
  <div id="content">
    {{ content }}
  </div>
  <div id="menu">
    {% include menu.html %}
  </div>
  {% include footer.html %}
</body>
</html>

<!-- vim: set et tw=100 ts=2 sts=2 sw=2 : -->
